<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

</head>
<body>
  <aside th:fragment="aside" class="d-none d-lg-block" style="width: 7rem">
  
    <div class="col"></div>
       <div class="card" style="background-image: url(/images/facultad.jpg); background-size:100%">
          <a class="nav-link" href="https://www.fi.unju.edu.ar"><span class="sr-only">(current)</span></a>
          <a class="nav-link" href="https://www.fi.unju.edu.ar"><span class="sr-only">(current)</span></a>
          <ul class="navbar-nav">
          <li class="nav-item active">
        <a class="nav-link" href="https://www.fi.unju.edu.ar"><span class="sr-only">(current)</span></a>
        <a class="nav-link" href="https://www.fi.unju.edu.ar"><span class="sr-only">(current)</span></a>
        <a class="nav-link" href="https://www.fi.unju.edu.ar"><span class="sr-only">(current)</span></a>
        <a class="nav-link" href="https://www.fi.unju.edu.ar"><span class="sr-only">(current)</span></a>
         </li>
          
          </ul>     
       </div>
       <div class="card">
         Publicidad
       </div>
       
      </aside>
</body>
</html>